.winner .pokemon-image {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.loser .pokemon-image {
  filter: brightness(50%);
  transition: filter 0.3s ease;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}
